<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <h2>Contatore</h2>
        <button v-on:click="aumenta">+</button>
        <button v-on:click="riduci">-</button>
        <p>L'attuale valore del contatore è {{ count }}</p>
        
        <h2>Todo-list</h2>
        <input type="text" v-model="inputText">
        <button v-on:click="addTodo">Aggiungi</button>

        <div v-for="todo in todos">{{todo}}</div>
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>